   .ticket-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: left; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
    width: 100%; 
    box-sizing: border-box;
  }
  
  .ticket-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ticket-header span {
    font-size: 14px;
    color: #333;
  }
  
  .ticket-card h3 {
    margin: 0 0 10px; 
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .initials-icon {
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .ticket-card p {
    margin: 5px 0; 
    font-size: 14px;
    color: #333;
  }
  
  .status-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  .priority-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  

  .priority-4 {
    color: red;
  }
  
  .priority-3 {
    color: orange;
  }
  
  .priority-2 {
    color: #ffc107; 
  }
  
  .priority-1 {
    color: green;
  }
  
  .priority-0 {
    color: grey;
  }
  
  .ticket-tag {
    display: flex;
    align-items: center;
  }
  
  .tag-circle {
    width: 8px;    
    height: 8px;  
    border-radius: 50%;
    background-color: grey; 
    margin-right: 8px;
  }